body {
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: #ddcccc;
}


#flex::after {
  content: "💪";
  transform: scaleX(-1);
 ;
}

#flex::before {
  content: "💪";
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #e94a4a;
  color: white;
}

.present {
  background-color: #827be7;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid rgb(128, 54, 54); 
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.date {
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  text-decoration: solid;
  font-weight: 500;
}
 
footer{
  display: flex;
justify-content: center;
}

#clear{
  display: block;
  width: 55%;
  border: #000000;
  padding: 15px 25px;
  font-size: small;
  font-weight: bolder;
  cursor:pointer;
  text-align: center;
}
